.container {
  background-image: linear-gradient(150deg, #c24dd0, #7a72fa);
  margin-top: -15px;
}


.container {
  background-image: linear-gradient(150deg, #c24dd0, #7a72fa);
  margin-top: -15px;

  @media (min-width: 1024px) {
    padding: 0.5rem 2.5rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}